[Unit]
Description=Apple II Pi Daemon
PartOf=graphical.target

[Service]
User=ddigiacomo
WorkingDirectory=/usr/local/share/a2pi/
Environment="DISPLAY=:0"
ExecStart=/usr/local/share/a2pi/a2pi-rs
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical.target
